.footer {
    grid-area: footer;
    background-color: #F8FBFE;
    padding: 0 160px;

    display: flex;
    align-items: center;
    gap: 132px;
}

.footer-contacts {
    width: 260px;

    display: flex;
    flex-direction: column;
    gap: 26px;
}

.footer-contacts div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-social-networks {
    display: flex;
    gap: 12px;
}

.footer-address {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.footer-info-list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    align-items: start;
}
